/*-----------FONTE----------*/
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #D81E5B;
    --cor-secundaria: #EB5E55;
    --cor-bg: #3A3335;
    --cor-branco:#ffffff;
    --cor-borda: #FDF0D5;
    --cor-sombra: rgba(0, 0, 0, 0.15);
    --cor-texto: #333;


    --fonte: ('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

    --raio: 0.8rem;
    --transition: 0.3s ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{ 
    font-family: var(--fonte);
    background: #3A3335;
background: linear-gradient(90deg, rgba(58, 51, 53, 1) 0%, rgba(173, 19, 71, 1) 50%, rgba(58, 51, 53, 1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;

}

.conteiner {
    background: var(--cor-borda);
    padding: clamp(2rem, 5vw, 3rem);
    border-radius: var(--raio);
    box-shadow: 0 8px 24px var(--cor-sombra);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.titulo {
    font-size: clamp( 1.5rem, 2vw + 1rem, 2rem);
    color: var(--cor-texto);
    margin-bottom: 1.5rem;
    font-weight: 500;
}