/*-----------FONTE----------*/
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #D81E5B;
    --cor-secundaria: #EB5E55;
    --cor-bg: #3A3335;
    --cor-branco:#ffffff;
    --cor-borda: #FDF0D5;
    --cor-sombra: rgba(0, 0, 0, 0.15);
    --cor-texto: #333;


    --fonte: 'Roboto', sans-serif;

    --raio: 0.8rem;
    --transition: 0.3s ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{ 
    font-family: var(--fonte);
    background-color: background: #3A3335;
background: linear-gradient(22deg, rgba(58, 51, 53, 1) 0%, rgba(173, 23, 73, 1) 50%, rgba(58, 51, 53, 1) 100%);
}